
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    font-weight: lighter;
    column-count: 5;
    column-rule-style: solid;
    column-rule-width: 1px;
    border: 5px solid rgb(162, 255, 31);
    padding: 10px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}